@()

@main() {
<div class="row">
	<div class="col-lg-12">
     	<h1 class="page-header">Movies
     		<small>Library / Adding New Movie via IMDB</small>
     	</h1>
	</div>
</div>
<div class="row" ng-controller="NewImdbMovieCtrl" novalidate>
	<form name="movieForm" class="form-horizontal" role="form" novalidate>
		<div class="form-group" ng-class="{ 'has-error' : movieForm.imdbId.$invalid && !movieForm.imdbId.$pristine }">
    		<label class="col-sm-2 control-label">IMDB ID</label>
    		<div class="col-sm-2">
      			<input type="text" name="title" maxlength="10" class="form-control" placeholder="IMDB ID (ie, tt0443649)" ng-model="movie.imdbId" required>
      			<p ng-show="movieForm.imdbId.$invalid && !movieForm.imdbId.$pristine" class="help-block">IMDB ID is required.</p>
		    </div>
		</div>
		<div class="form-group">
    		<label class="col-sm-2 control-label">Folder</label>
    		<div class="col-sm-1" ng-class="{ 'has-error' : movieForm.folder.$invalid && !movieForm.folder.$pristine }">
      			<input type="number" name="folder" maxlength="1" class="form-control" ng-model="movie.folder" onkeydown="javascript:maskInput()" required>
      			<p ng-show="movieForm.folder.$invalid && !movieForm.folder.$pristine" class="help-block">Invalid</p>
		    </div>
		</div>
		<div class="form-group">
    		<label class="col-sm-2 control-label">DVD</label>
    		<div class="col-sm-1" ng-class="{ 'has-error' : movieForm.dvd.$invalid && !movieForm.dvd.$pristine }">
      			<input type="number" name="dvd" maxlength="3" min="1" max="300" class="form-control" ng-model="movie.dvd" onkeydown="javascript:maskInput()" required>
      			<p ng-show="movieForm.dvd.$invalid && !movieForm.dvd.$pristine" class="help-block">Invalid</p>
		    </div>
		</div>
		<div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		    	<button type="submit" class="btn btn-default" ng-click="back()" >Cancel</button>
		    	<button type="submit" class="btn btn-default" ng-click="save()" ng-disabled="movieForm.$invalid">Save</button>
		    </div>
	  	</div>
	<pre ng-if="status != null">Errors: {{status}}</pre>
	</form>
</div>
}
