@()

@main() {
<div class="row">
	<div class="col-lg-12">
     	<h1 class="page-header">Administration
     		<small>File Upload</small>
     	</h1>
	</div>
</div>
<div class="row" ng-controller="FileUploadCtrl">
	<div class="col-md-2 col-sm-4 sidebar">
		<ul class="nav nav-stacked nav-pills">
			<li><a href="/admin/requestsUi">Requests</a>
        	<li><a href="/admin/file/export/audio">Export Audio</a>
        	<li><a href="/admin/file/export/movie">Export Movies</a>
        	<li><a href="/admin/file/export/actor">Export Actors</a>
        	<li><a href="/admin/file/upload">Import Data</a>
        </li>
	</div>	
	<div class="col-md-10 col-sm-8">
		<table class='table'>
  			<tr><td width="100px">Movies:</td><td><input type="file" name="file" ng-file-select="onMovieFileSelect($files)" multiple><span>{{movie.data}}</span></td></tr>
  			<tr><td width="100px">Audio Books:</td><td><input type="file" name="file" ng-file-select="onAudioFileSelect($files)" multiple><span>{{audio.data}}</span></td></tr>
  		</table>
	</div>
</div>
}
