@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/modern-business.css")">
        <link rel="stylesheet" media="screen" href="http://bazalt-cms.com/assets/ng-table/0.3.0/ng-table.css">
        
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.min.js")" ></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/angular.min.js")" ></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/app.js")" ></script>
        <script type="text/javascript" src="http://bazalt-cms.com/assets/ng-table/0.3.0/ng-table.js" ></script>
    </head>
    <body ng-app="mediaApp" ng-controller="MovieListCtrl">
    	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      		<div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="/">Media Library</a>
	        </div>
	        <div class="collapse navbar-collapse">
	          <ul class="nav navbar-nav navbar-right">
	            <li><a href="/">Home</a></li>
	            <li><a href="/movies">Movies</a></li>
	            <li><a href="/audio">Audio</a></li>
	            <li><a href="/books">eBooks</a></li>
	          </ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </div>
	    <div class="container">
        	@content
        </div>
    </body>
</html>
